body{
background: #e2e2e2 !important;
}
.bg-primary{
background: #009688 !important;
}
.banner{
width:100%;
height:93vh;
background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/image.jpg);
color:white;
background-size:cover;
}
.my-card{
padding:20px;
background:#ffffff;
}

#login .container #login-row #login-column #login-box {
  margin-top: 90px;
  max-width: 600px;
  height: 420px; /* Change height to auto to adjust based on content */
  border: 1px solid #9C9C9C;
  background-color: white;
  padding: 20px; /* Move padding from login-form to login-box */
}

#login .container #login-row #login-column #login-box #login-form .form-group {
  margin-bottom: 15px; /* Add margin bottom to form-group for spacing */
}
#login .container #login-row #login-column #login-box #login-form .form-group label {
  display: block; /* Display label elements as blocks for proper alignment */
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
  margin-top: 10px; /* Adjust margin-top value for proper spacing */
}
/* styling sidebar, media query is for all screens adjustments */
/* sidebar style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999999999;

}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossBtn{
position: absolute;
top: 0;
right: 35px;
font-size: 35px;
cursor: pointer;
}
.my_profile_pic{
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 50%;
}