<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>This is home page</title>
</head>
<body>
<section>
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" style="height: 250px;" class="col-md-12">
            <div class="alert alert-success mt-3" role="alert">
              we have sent an OTP on your email account
            </div>

            <form method="post" action="" th:action="@{/send-otp}">
              <div class="form-group">
                <input name="otp" required="required" type="text" placeholder="Enter OTP number here" class="form-control">
              </div>
              <div class="container text-center mt-3">
                <button class="btn btn-success"> Verify</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


</body>
</html>